.panel-wrapper {
    height: 450px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ececec;
    margin: 15px;

    .wizard-panel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        margin-bottom: 0px;

        text-align: center;

        padding: 15px;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        z-index: -1;
        display: none;

        .form-group {
            .control-label {
                text-align: left;
            }
        }

        &.current, &.exit {
            z-index: 2;
            display: block;
        }

        &.enter {
            display: block;
        }
    }

    &.animating {
        .exit, .enter {
            -webkit-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .exit {
            &.slide-left {
                -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
            }

            &.slide-right {
                -webkit-transform: translateX(100%);
                -ms-transform: translateX(100%);
                transform: translateX(100%);
            }
        }

        .enter {
            &.slide-left {
                -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                transform: translateX(0%);
            }

            &.slide-right {
                -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                transform: translateX(0%);
            }
        }
    }
}

.exit {
    &.slide-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    &.slide-right {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.enter {
    &.slide-left {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    &.slide-right {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.wizard-header {
    margin: 0px 20px 0px -15px;

    ul {
        margin: 7px 20px;

        li {
            margin: 10px;

            a {
                border-radius: 5px;
                height: 50px;
                line-height: 2.0em;
                cursor: default;
            }
        }
    }
}

.wizard-footer {
    float:right;
    margin: 0px 15px;
}

.disabled {
    color: #999;
    background-color: rgb(208, 208, 208);
    a {
        background-color: rgb(208, 208, 208);
    }

    &:hover, &.disabled.active {
        background-color: rgb(208, 208, 208);
        a.active, a:active {
            background-color: rgb(208, 208, 208);
        }
    }
}

.active {
    background-color: #3276b1;
    color: #FFF;
}
