.panel-wrapper {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #ECECEC;
    margin: 15px;

    .wizard-panel {
        position: relative;
        left: 0;
        right: 0;
        top: 0;

        margin-bottom: 0px;

        text-align: center;

        padding: 15px;
        backface-visibility: hidden;

        z-index: -1;
        display: none;

        .form-group {
            .control-label {
                text-align: left;
            }
        }

        &.current,
        &.exit {
            z-index: 2;
            display: block;
        }

        &.enter {
            display: block;
        }
    }

    &.animating {
        .exit,
        .enter {
            transition: all .3s ease-in-out;
        }

        .exit {
            &.slide-left {
                transform: translateX(-100%);
            }

            &.slide-right {
                transform: translateX(100%);
            }
        }

        .enter {
            &.slide-left {
                transform: translateX(0%);
            }

            &.slide-right {
                transform: translateX(0%);
            }
        }
    }
}

.exit {
    &.slide-left {
        transform: translateX(0);
    }

    &.slide-right {
        transform: translateX(0);
    }
}

.enter {
    &.slide-left {
        transform: translateX(100%);
    }

    &.slide-right {
        transform: translateX(-100%);
    }
}

.wizard-header {
    margin: 0px 20px 0px -15px;

    ul {
        margin: 7px 20px;

        li {
            margin: 0px;

            .active {
                color: #FFF;
            }

            a {
                border-radius: 5px;
                cursor: default;
            }

            .rounded-nav {
                height: 50px;
                line-height: 2em;
                cursor: default;
                z-index: 1;

                border-radius: 50%;
                width: 50px;
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 10px;
            }

            .rounded-nav-label {
                text-align: center;
            }
        }

        .rounded-nav-step:last-child::after {
            width: 0px;
        }

        .rounded-nav-step:first-child::before {
            width: 0px;
        }

        .rounded-nav-step::before {
            content: '';
            display: block;
            background: #A9A9A9;
            height: 1px;
            width: 50%;
            position: absolute;
            top: 23px;
            left: 0%;
        }

        .rounded-nav-step::after {
            content: '';
            display: block;
            background: #A9A9A9;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 23px;
            left: 50%;
        }

        .rounded-nav-step {
            margin: 0px;
        }
    }

    .delete-entity-button {
        border-color: #E64B65;
        background-color: #E64B65;
        color: #FFF;
        margin-top: 25px;
    }

    .nav > .disabled > a:hover,
    .nav > .disabled > a:focus {
        background-color: rgb(208, 208, 208);
    }

}

.wizard-footer {
    float: right;
    margin: 0px 15px;
}

.disabled {
    color: #999;

    a {
        background-color: rgb(208, 208, 208);
    }

    &:hover,
    &.disabled.active {
        .active,
        a:active {
            background-color: rgb(208, 208, 208);
        }
    }
}

.rounded-nav-step.active {
    background-color: inherit;
    color: #000;
}

.rounded-nav-step.disabled {
    background-color: inherit;

    .rounded-nav {
        &:hover {
            background-color: rgb(208, 208, 208);
        }
    }
}

.completed {
    a {
        color: #FFF;
        background-color: #739E73;
    }

    p {
        font-size: 12px;
    }

    &:hover,
    &.completed.active {
        .active,
        a:active,
        a:hover {
            background-color: #739E73;
        }
    }
}
